<div class="container">
  <h1>New Cocktail</h1>
  <%= render "form", cocktail: @cocktail %>
  <hr>
  <h2>
    <%= link_to "Back to list", cocktails_path, class: "badge badge-primary" %>
  </h2>
</div>
